* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100dvh;
  background-color: #151515;
  color: #fdfdfd;
}
form {
  padding: 40px 15px 10px;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

h2 + p {
  margin-block: 14px 19px;
}
.field, .btn {
  display: block;
  width: 100%;
  height: 43px;
  border-radius: 6px;
  font-size: 1rem;
  border: none;
  
}
.field {
  background-color: #262626;
  border: 1px solid #363636;
  outline: none;
  margin-top: 4px;
  color: #fdfdfd;
  font-size: large;
  padding: 3px 10px 3px 28px;
  
}
.btn {
  margin-block: 8px;
  font-weight: 500;
  color: #fdfdfd;
}
a.btn {
  border: 1px solid #fdfdfd;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 10px;
}
a {
  color: #fdfdfd;
}
.others {
  display: flex;
  justify-content: space-between;
}
.others label, .others a {
  font-size: .95rem;
  text-decoration: none;
  display: inline-flex;
  gap: 5px;  
}
.remember {
  
}
input.btn {
  background-image: linear-gradient(45deg, #d44535,#883a90);
  
}
form > div {
  margin-block: 8px;
}
.link {
  align-self: center;
  justify-self: end;
  margin-top: auto;
}
.icon {
  background-repeat: no-repeat;
  background-position: 5px;
  background-size: 20px;
}

input[type="password"]{
  background-image: url(../img/locked.png);

}
input[type="email"] {
  background-image: url(../img/email.png);

}
input[type="text"] {
  background-image: url(../img/user.png);

}
img {
  width: 24px;
}

@media (min-width: 500px){
  body {
    display: flex;
    justify-content: center;
  }
  form {
    width: 450px;
  }

  h2, p{
    text-align: center;
  }
}